.ui-widget.ui-widget-content{
    border:0!important;
}
.ui-widget-header{
    background:transparent;
    border:none;
    border-bottom:1px solid #c5c5c5;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
    border: 1px solid #465863;
    background:#3c8dbc;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor{
    padding-left:50px;
    padding-right:50px;
    text-transform: uppercase;
}

.credential-page .form-group{
    margin-bottom: 20px;
}
.credential-page #login-form .form-group:nth-of-type(2){
    margin-bottom: 15px;
}
.credential-page .form-group input.form-control{
    height: 41px;
    line-height: 41px;
    padding: 8px 12px;
    border-radius: 0;
    border: 1px solid #616979;
    border-left: none;
}
.credential-page .form-group textarea.form-control{
    line-height: 41px;
    padding: 8px 12px;
    border-radius: 0;
    border: 1px solid #616979;
    height: 172px;
    /*border-left: none;*/
}
.credential-page .form-group .input-group-addon{
    background: #707f8e;
    border: 1px solid #707f8e;
    height: 41px;
    padding: 0;
    border-radius: 0;
}
.credential-page .remember-me-wrapper{
    margin-bottom: 5px;
    padding-top: 9px;
}
.credential-page .glyphicon{
    color: #fff;
}
.credential-page input{
    font-weight: 300;
    color: #616979;
}
.credential-page .input-group .form-control:focus{
    z-index: 0;
}
.credential-page input::-webkit-input-placeholder {
    font-weight: 300;
    color: #616979;
    font-size: 15px;
}

.credential-page input::-moz-placeholder,
.credential-page input:-ms-input-placeholder,
.credential-page input:-moz-placeholder {
    font-weight: 300;
    color: #616979;
    font-size: 15px;
}
.credential-page .fb-login,
.credential-page .register {
    display: block;
    font-size: 20px;
    color:#fff;
    text-align: center;
}
.credential-page .register{
    margin-bottom: 43px;
    background: #e3370e;
    line-height: 43px;
    font-weight: bold;

}
.credential-page .register:hover{
    background: #ff3100;
}
.credential-page .fb-login{
    line-height: 43px;
    background: #4b649e;

    font-weight: bold;
}

.credential-page .fb-login:hover{
    background: #3c4969;
}
.credential-page .fb-login span{
    display: block;
    float: left;
    width: 55px;
    border-right: 1px solid #304d90;
}
.credential-page .submit{
    color:#fff;
    font-size: 20px;
    font-weight: bold;
    line-height:43px;
    padding: 0 50px;
    background: #e3370e;
    border-radius:0;
    border:none;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    /*margin-bottom: 15px;*/
    margin-bottom: 0;
    display: inline-block;
    position: relative;
}
.credential-page .submit img{
    position: absolute;
    top:0;
    bottom:0;
    margin:auto;
    margin-left:-20px;
}
.credential-page .submit:hover {
    background: #ff3100;
}
.credential-page .forgot-pass-link{
    color: #e3370e;
    font-weight: normal;
}
.credential-page .forgot-pass-link:hover{
    font-weight: bold;
    text-decoration: none;
}
.credential-page .custom-buttons .submit{
    padding: 0;
    width: 100%;
    margin-bottom: 10px;
}
.credential-page #reset-pass .form-group{
    margin-bottom: 30px;
}
.custom-select .input-group{
    /*height: 41px;*/
    display: block;
}
.custom-select .input-group-addon{
    width: 47px;
    display: block;
    float: left;
}
.custom-select .btn{
    padding: 9.5px 10px;
    border-radius: 0;
}
.custom-select .bs-caret{
    width: 42px;
    border-left: 1px solid #616979;
    display: block;
    height: 39px;
    position: absolute;
    top: 0;
    right: 0;
}

.bootstrap-select.btn-group .dropdown-toggle .caret{
    right: 16px;
    top:47%;
    border-top: 9px dashed;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}

.bootstrap-select .dropdown-toggle{
    border: 1px solid #616979;
}
.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select .dropdown-toggle:hover{
    outline: none!important;
    background-color: transparent!important;
    -webkit-box-shadow: none!important;
    box-shadow:none!important;
    border: 1px solid #616979!important;
}
.checkbox label, .radio label{
    padding-left: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
.checkbox, .radio{
    margin-top: 0;
    margin-bottom: 0;
}
.credential-page .checkbox label{
    color: #333333;
}
.required{
    color:#e3370e;
}
input[type=checkbox] { display:none; }
input[type=checkbox] + label:before {
  display: inline-block;
}

input[type=checkbox] + label:before {
    content: url(../img/check-box.png);

}
input[type=checkbox] + label:before {
    letter-spacing: 10px;
    width: 21px;
    height: 28px;
    position: absolute;
    left: 0;
    top: -4px;
}

input[type=checkbox]:checked + label:before {
    content: url(../img/check-box-checked.png);

}
input[type=checkbox]:checked + label:before { letter-spacing: 5px; }

/*radio*/
input[type=radio] { display:none; }
input[type=radio] + label:before {
  display: inline-block;
}

input[type=radio] + label:before {
    content: url(../img/radio-btn.png);

}
input[type=radio] + label:before {
    letter-spacing: 10px;
    width: 21px;
    height: 19px;
    position: absolute;
    left: 0;
    top: -1px;
}

input[type=radio]:checked + label:before {
    content: url(../img/radio-btn-checked.png);

}
input[type=radio]:checked + label:before { letter-spacing: 5px; }

.company-invoice{
    padding-top: 75px;
    display: none;
}

.formicon{
    display: inline-block;
    width:47px;
    height:36px;
    background-image: url(../img/form-set.png);
    background-repeat: no-repeat;
}
.formicon.formicon-pass{
    background-position: -47px 0px;
}
.formicon.formicon-mail{
    background-position: 0px 0px;
}
.formicon.formicon-user{
    background-position:-141px 0px;
}
.formicon.formicon-moblie{
    background-position:-95px 0px;
}
.formicon.formicon-adress{
    background-position:-188px 0px;
}
.formicon.formicon-adress-dark{
    background-position:-200px -36px;
    width: 30px;
}
.formicon.formicon-payment{
    background-position: 0px -36px;
}
.formicon.formicon-bustat{
    background-position: -47px -36px;
}
.formicon.formicon-company{
    background-position: -94px -36px;
}

/*card*/
.card-product-list-wrapper{
    padding-left: 30px;
    padding-right: 30px;
}
.card-product-list{
    width:100%;
    border:1px solid #616979;
}
.card-product-list th{
    font-size: 16px;
    font-weight: 500;
    height: 45px;
}
.card-product-list th:nth-of-type(1),
.card-product-list td:nth-of-type(1){
    width:10%
}
.card-product-list th:nth-of-type(2),
.card-product-list td:nth-of-type(2){
    text-align: left;
    width:27%
}
.card-product-list td{
    height:134px;
}
.card-product-list th,
.card-product-list td{
    border-bottom:1px solid #616979;
    text-align: center;
}
.card-product-list th:nth-of-type(1),
.card-product-list td:nth-of-type(1){
    text-align: left;
    padding-left: 20px;
}
.card-product-list td .product-image{
    display: inline-block;
    vertical-align: middle;
    width:100%;
    height:85px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.card-product-list td .title{
    margin-left: 25px;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    max-width: 230px;
}
.number-input-wrapper{
    width: 75px;
    position: relative;
    margin:0 auto;
}
.number-input-wrapper input{
    border:1px solid #616979;
    line-height: 41px;
    border-radius:0;
}
.number-input-wrapper .btn-up{
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 9px solid #616979;
    position: absolute;
    top: 5px;
    right: 6px;
    cursor: pointer;
    display: block;
}
.number-input-wrapper .btn-down{
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 9px solid #616979;
    position: absolute;
    top: 20px;
    right: 6px;
    cursor: pointer;
}
.card-product-list .delete{
    color:#616979;
    padding:0 10px
}

.card-product-list .delete:hover{
    color:#e3370e;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
}