html, body {
    width: auto !important;
    overflow-x: hidden !important;

}

body{
    background: #f8f9fb;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color:#333333;
}

h1,h2,h3,h4,h5,h6,p,ul,li{
    margin:0;
    padding: 0;
}

ul, li{
	list-style:none;
}
:focus {
    outline: none;
}
a{
	-webkit-transition: all 0.4s;
    transition: all 0.4s;
}

input:focus, select:focus {
    border-color:none!important;
    outline: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
a:hover, a:active, a:focus, a:visited{
    text-decoration:none;
    outline:0;
    outline-offset:0;
}
textarea {
  resize: vertical;
}
.no-padding{
    padding-left:0;
    padding-right:0;
}
.no-padding-left{
    padding-left:0;
    padding-right:15px;
}
header{
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    border-bottom: 1px solid #fff;
}
header.header-bg{
    background-color: #262932;
    background-image: url(../../img/header-bg-inner.jpg);
    position: relative;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;

}
header .sticky-menu{
    position: fixed;
    width:100%;
    display: none;
    top:0;
    background: rgba(105, 111, 127, 0.95);
}
header .sticky-menu .container{
    position: relative;
}
header .sticky-menu.show{
     display: block;
}
header.header-bg .menu-background{
    border:none;
}
.dropdown-menu.mega-dropdown-menu>.active>a {
    background-color:transparent;
}
.menu-background{
    padding-top: 20px;
    background-color:transparent;
}
.home-header-wrapper{
    background-color: #262932;
    background-image:url(../../img/home-background-header.jpg);
    background-size: cover;
    background-position:center center;
    position: relative;
    padding-top: 204px;
}
.home-header-wrapper .background{
    border-top: 1px solid #fff;
    background: rgba(41, 43, 55, 0.4);
}
.navbar-header{
    float: none;
}

.navbar-default{
    background:none;
    border:none;
    margin-bottom:20px ;
}
.navbar-collapse{
    padding-left: 0;
    padding-right: 0;
}

.navbar-default .navbar-brand{
    display: inline-block;
    height:auto;
    padding-left: 15px;
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-default .navbar-brand>img{
    width:100%;
}
header .navbar-nav{
    margin-left: 7px;
}
.navbar-nav>li>a{
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 31.4px;
}
.navbar-nav .open>a,
.navbar-nav .open>a:focus,
.nav>li>a:focus,
.navbar-nav .open>a:hover,
.nav>li>a:hover{
    background-color: transparent
}
.navbar-nav>li{
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.navbar-nav>li.active,
.navbar-nav>li:hover {
    background-color: #e3370e;
}

.navbar-nav>li>.dropdown-menu{
    margin-top: -1px;
    background:#f8f9fb;
    border-radius:0;
    /*opacity: 0;
    z-index: -1;*/
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    /*display: block;*/
}
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover{
    background-color: transparent
}
/*.open>.dropdown-menu{
    display: block;
}
ul.nav li.dropdown:hover ul.dropdown-menu{
    opacity:1;
    z-index: 2;
}*/

.navbar-nav>li.open>.dropdown-menu{
    display: none;
}

.dropdown-menu>li>a{
    white-space: inherit;
}
.dropdown-menu>li>a:hover p{
    color:#e3370e;
}
header .caret{
    border: none;
    width: 11px;
    height: 7px;
    background: url(../img/caret-main-menu.png);
}

.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}
.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #ff3546;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}
.mega-dropdown-menu{
    padding:45px 15px 50px;
}
.mega-dropdown-menu .dropdown-cat{
    height:120px;
    width:120px;
    margin:0 auto 25px;
    background-position: center center;
    background-repeat:no-repeat;
    background-size: contain;
}

.mega-dropdown-menu p{
    font-weight: bold;
    font-size: 16px;
    color:#616979;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}
.mega-dropdown-menu .dropdown-cat:hover p{
    color:#e3370e;
}
.mega-dropdown-menu li{
    float:left;
    display: inline-block;
    width:25%;
}
.login-wrapper{
    margin-top: 39px;
    right:0;
    position: absolute;
}
.login-wrapper li{
    display: inline-block;
    float: left;
    color: #fff;
    margin-right: 50px;
    position: relative;
}
.login-wrapper li:last-of-type{
    margin-right: 20px;
}
.login-wrapper li:before{
    width: 8px;
    height: 8px;
    background: #ffffff;
    content:'';
    display: block;
    position: absolute;
    margin-left: -15px;
    margin-top: 5px;
}
.login-wrapper li a{
    display: inline-block;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
}
.search-form{
    top: 75px;
    right:0;
    position: absolute;
    cursor: pointer;

}
.search-form>li{
    display: inline-block;
    float: left;
}
.search-form>li:first-of-type{
    margin-right: 20px;
}
.search-form li .input-group-addon{
    border-radius:0;
    background: #e3370e;
    border:none;
    padding: 8px 10px;
}
.search-form .form-inline .input-group>.form-control{
    line-height: 41px;
    height: 41px;
    border: none;
    border-radius: 0;
    width: 240px!important;

}
.search-form .card {
    margin-right: 20px;
    height: 41px;
    position: relative;
}
.search-form .card .icon-wrapper{
    background: #e3370e;
    width:47px;
    height:41px;
    text-align: center;
    position: relative;
    float: left;

}
.search-form .card .icon-wrapper img{
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
    left: 0;
    right: 0;
}
.search-form .card .icon-wrapper.white{
    background: #ffffff;
    border-left:1px solid #c6c9cf;
}
.search-form .total{
    color:#616979;
    font-size: 14px;
    font-weight: 300;
    line-height: 41px;
    height: 41px;
    float: left;
    background: #ffffff;
    padding: 0 26px;
}
.search-form .total span.sum{
    font-weight: bold;
}
.search-form .total span.coins{
    position: relative;
    font-size: 10px;
    top: -5px;
}
.search-form .card-products-wrapper{
    position: absolute;
    left: 0;
    right: 0;
    padding: 15px 20px 20px;
    background: #fff;
    z-index: -1;
    margin-top: 0;
    border-top: 1px solid #c6c9cf;
    cursor: auto;
    opacity: 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    display: none;
    border: 1px solid #cad3dd;
}
.search-form .card:hover .card-products-wrapper{
    display: block;
    opacity: 1;
    z-index: 2;
}

.search-form .card-products-wrapper .product-img{
    margin-right: 10px;
    width: 55px;
    height: 45px;
    background-size:contain;
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
}

.search-form .card-products-wrapper .product-summary{
    overflow: hidden;
}
.search-form .card-products-wrapper p{
    font-size: 16px;
    line-height: 23px;
    color: #616979;
}
.search-form .card-products-wrapper p span{
    font-weight: bold;
}
.search-form .card-products-wrapper ul{
    margin-bottom: 12px;
}
.search-form .card-products-wrapper li{
    padding: 10px 0 14px;
    border-bottom:1px solid #dbdfe6;
}
.search-form .card-products-wrapper .to-the-card{
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    background: #e3370e;
    line-height: 39px;
    padding: 0 25px;
    text-transform: uppercase;
    display: inline-block;
}
.search-form .card-products-wrapper .to-the-card:hover {
    background: #ff3100;
}

.search-form .no-results{
    margin-top: 15px;
    text-align: center;
}
#results-header-search{
    background: #fff;
    padding:0 20px 20px 20px;
    position: relative;
    z-index: 1;
    border:1px solid #c6c9cf;
    display: none;
    width: 287px;
}
#results-header-search h3{
    margin: 25px 0 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;

    background: #efefef;
    /*border-bottom: 1px solid #c6c9cf;*/
}
#results-header-search .single-result{
    padding:5px 0 ;
    display: block;
}
#results-header-search .single-result.single-result-cat{
    border-bottom: 1px solid #efefef;
}
#results-header-search .img-wrapper{
    width: 55px;
    height: 45px;
    margin-right: 10px;
    background-size: contain;
    background-position: center center;
    float: left;
    background-repeat: no-repeat;
}
#results-header-search h5{
    font-size: 16px;
    line-height: 20px;
    color: #616979;
}
#results-header-search p{
    font-size: 12px;
    color: #616979;
}
/*home slider*/
.header-slider-wrapper{
    height: 450px;
    color:#ffffff;
}
.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-button-next,
.swiper-button-prev{
    width: 16px;
    height: 26px;
    background-size: contain;
}
.swiper-button-next{
    background-image: url(../img/arrow-right.png);
}
.swiper-button-prev{
    background-image: url(../img/arrow-left.png);
}
.home-header-slider .swiper-slide{
    /*text-align: center;*/

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.header-slider-wrapper .product-summary{
    font-family: 'Noto Sans', sans-serif;
    font-size: 40.95px;
    line-height: 56.31px;
    text-transform: uppercase;
    font-weight: bold;
}
.header-slider-wrapper .product-title{
    font-weight: 300;
    font-size: 26px;
    line-height: 45px;
}
.header-slider-wrapper .product-price{
    margin:15px 0 25px 0;
    padding:0 60px;
    background: #e3370e;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    line-height: 50px;
    color:#ffffff;
    text-transform: uppercase;
}
.header-slider-wrapper .product-price:hover{
    background: #ff3100;
}
.header-slider-wrapper .additional{
    font-weight: 300;
    font-size: 18px;
}
.power-xchange .header-slider-wrapper .product-pic{
    display: block;
    width: 78%;
    float: right;
    padding-right: 56px;
}

.header-slider-wrapper .product-pic{
    display: block;
    width: 93%;
}

.home-categories{
    padding-top: 45px;
    margin-bottom: 35px;
}
.home-categories .caregory-wrapper{
    text-align: center;
    padding-top: 30px;
    margin-bottom: 30px;
    display: block;
    height: 230px;
}
.home-categories .caregory-wrapper:hover{
    -webkit-box-shadow: inset 0 0 0 10px #707f8e;
    -moz-box-shadow: inset 0 0 0 10px #707f8e;
    box-shadow: inset 0 0 0 2px #707f8e;
}
.home-categories h3{
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 28px;
    color:#616979;
    text-transform: uppercase;
    font-weight:500;
}
.home-promotional-products h2{
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 28px;
    overflow: hidden;
    text-transform: uppercase;
    color:#616979;
    font-weight:500;
    width: 100%;
    position: relative;
}
.home-promotional-products h2 span{
    width: 100%;
    position: absolute;
    height: 1px;
    background: #d9dfe4;
    top: 14px;
    margin-left: 20px;
}
.home-promotional-products .swiper-wrapper{
    margin-bottom:70px;
}
.home-promotional-products .bestsellers .swiper-wrapper{
    margin-bottom: 45px;
}
.home-promotional-products .swiper-container{
    padding: 15px;
}
/*.home-promotional-products .swiper-wrapper .swiper-slide{
    -webkit-flex-shrink: initial;
    -ms-flex: initial;
     flex-shrink: initial;
     padding:0 15px;
}*/
a.single-product-grid{
    padding:65px 20px 0;
    display: block;
    border:1px solid #cad3dd;
    background: #ffffff;
    position: relative;
    overflow: hidden;
    height:520px;
}
a.single-product-grid:hover{
    /*-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);*/
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
}
a.single-product-grid .product-pic{
    height:170px;
    display: inline-block;
    margin-bottom: 25px;
    width:100%;
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center center;
}
a.single-product-grid .promo-label{
    position: absolute;
    left: -55px;
    top: 25px;
    height: 28px;
    width: 200px;
    font-size: 16px;
    line-height: 28px;
    background: #e3370e;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    transform: rotate(-45deg);
    /* -webkit-transform: rotate(-45deg); */
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}
a.single-product-grid h3{
    font-size: 17px;
    line-height: 24px;
    font-weight: bold;
    color:#333333;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 5px;
}
a.single-product-grid h5{
    color:#333333;
    text-align: left;
}
a.single-product-grid .price-wrapper{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
a.single-product-grid p{
    margin:45px 0 25px;
    font-size: 18px;
    color:#333333;
    font-weight: 500;
}
a.single-product-grid strong{
    margin:45px 0 25px;
    font-size: 24px;
    color: #e3370e;
}

a.single-product-grid .more{
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 42px;
    padding: 0 30px;
    display: inline-block;
    background: #e3370e;
    margin: 0 0 25px 0;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}
a.single-product-grid:hover .more{
    background: #ff3100;
}

.bg-border{
    background: #fff;
    border:1px solid #cad3dd;
    padding-top: 45px;
    padding-bottom: 45px;
}
.main-wrapper{
    padding: 45px 0;
}
/*forms icons*/

.formicon{
    display: inline-block;
    width:47px;
    height:36px;
    background-image: url(../img/form-set.png);
    background-repeat: no-repeat;
}
.formicon.formicon-pass{
    background-position: -47px 0px;
}
.formicon.formicon-mail{
    background-position: 0px 0px;
}
.formicon.formicon-user{
    background-position:-141px 0px;
}
.formicon.formicon-moblie{
    background-position:-95px 0px;
}
.formicon.formicon-adress{
    background-position:-188px 0px;
}
.formicon.formicon-adress-dark{
    background-position:-200px -36px;
    width: 30px;
}
.formicon.formicon-payment{
    background-position: 0px -36px;
}
.formicon.formicon-bustat{
    background-position: -47px -36px;
}
.formicon.formicon-company{
    background-position: -94px -36px;
}

.company-invoice{
    display: none;
}
/*forms*/
.colum-separator{
    position: relative;
}
.colum-separator:after{
    content:"";
    width:1px;
    background:#cad3dd;
    height:100%;
    position: absolute;
    top:0;
    right:-25%;
}
.credential-page .title{
    margin-bottom: 25px;
    font-size: 26px;
    font-weight: normal;
    color: #333333;
}
.credential-page .form-group{
    margin-bottom: 20px;
}
.credential-page #login-form .form-group:nth-of-type(2){
    margin-bottom: 15px;
}
.credential-page .form-group input.form-control{
    height: 41px;
    line-height: 41px;
    padding: 8px 12px;
    border-radius: 0;
    border: 1px solid #616979;
    border-left: none;
}
.credential-page .form-group textarea.form-control{
    line-height: 41px;
    padding: 8px 12px;
    border-radius: 0;
    border: 1px solid #616979;
    height: 163px;
    /*border-left: none;*/
}
.credential-page .form-group .input-group-addon{
    background: #707f8e;
    border: 1px solid #707f8e;
    height: 41px;
    padding: 0;
    border-radius: 0;
}
.credential-page .remember-me-wrapper{
    margin-bottom: 5px;
    padding-top: 9px;
}
.credential-page .glyphicon{
    color: #fff;
}
.credential-page input{
    font-weight: 300;
    color: #616979;
}
.credential-page .input-group .form-control:focus{
    z-index: 0;
}
.credential-page input::-webkit-input-placeholder {
    font-weight: 300;
    color: #616979;
    font-size: 15px;
}

.credential-page input::-moz-placeholder,
.credential-page input:-ms-input-placeholder,
.credential-page input:-moz-placeholder {
    font-weight: 300;
    color: #616979;
    font-size: 15px;
}
.credential-page .fb-login,
.credential-page .register {
    display: block;
    font-size: 20px;
    color:#fff;
    text-align: center;
}
.credential-page .register{
    margin-bottom: 43px;
    background: #e3370e;
    line-height: 43px;
    font-weight: bold;

}
.credential-page .register:hover{
    background: #ff3100;
}
.credential-page .fb-login{
    line-height: 43px;
    background: #4b649e;

    font-weight: bold;
}

.credential-page .fb-login:hover{
    background: #3c4969;
}
.credential-page .fb-login span{
    display: block;
    float: left;
    width: 55px;
    border-right: 1px solid #304d90;
}
.credential-page .submit{
    color:#fff;
    font-size: 20px;
    font-weight: bold;
    line-height:43px;
    padding: 0 50px;
    background: #e3370e;
    border-radius:0;
    border:none;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    /*margin-bottom: 15px;*/
    margin-bottom: 0;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.credential-page .submit img{
    position: absolute;
    top:0;
    bottom:0;
    margin:auto;
    margin-left:-20px;
}
.credential-page .submit:hover {
    background: #ff3100;
}
.credential-page .forgot-pass-link{
    color: #e3370e;
    font-weight: normal;
}
.credential-page .forgot-pass-link:hover{
    font-weight: bold;
    text-decoration: none;
}
.credential-page .custom-buttons .submit{
    padding: 0;
    width: 100%;
    margin-bottom: 10px;
}
.credential-page #reset-pass .form-group{
    margin-bottom: 30px;
}
.custom-select .input-group{
    /*height: 41px;*/
    display: block;
}
.custom-select .input-group-addon{
    width: 47px;
    display: block;
    float: left;
}
.custom-select .btn{
    padding: 9.5px 10px;
    border-radius: 0;
}
.custom-select .bs-caret{
    width: 42px;
    border-left: 1px solid #616979;
    display: block;
    height: 39px;
    position: absolute;
    top: 0;
    right: 0;
}

.bootstrap-select.btn-group .dropdown-toggle .caret{
    right: 16px;
    top:47%;
    border-top: 9px dashed;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}

.bootstrap-select .dropdown-toggle{
    border: 1px solid #616979;
}
.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select .dropdown-toggle:hover{
    outline: none!important;
    background-color: transparent!important;
    -webkit-box-shadow: none!important;
    box-shadow:none!important;
    border: 1px solid #616979!important;
}
.checkbox label, .radio label{
    padding-left: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
.checkbox, .radio{
    margin-top: 0;
    margin-bottom: 0;
}
.credential-page .checkbox label{
    color: #333333;
}
.required{
    color:#e3370e;
}
input[type=checkbox] { display:none; }
#tbi_body input[type=checkbox] { display:block; }
input[type=checkbox] + label:before {
  display: inline-block;
}

input[type=checkbox] + label:before {
    content: url(../img/check-box.png);

}
input[type=checkbox] + label:before {
    letter-spacing: 10px;
    width: 21px;
    height: 28px;
    position: absolute;
    left: 0;
    top: -4px;
}

input[type=checkbox]:checked + label:before {
    content: url(../img/check-box-checked.png);

}
input[type=checkbox]:checked + label:before { letter-spacing: 5px; }

/*radio*/
input[type=radio] { display:none; }
input[type=radio] + label:before {
  display: inline-block;
}

input[type=radio] + label:before {
    content: url(../img/radio-btn.png);

}
input[type=radio] + label:before {
    letter-spacing: 10px;
    width: 21px;
    height: 19px;
    position: absolute;
    left: 0;
    top: -1px;
}

input[type=radio]:checked + label:before {
    content: url(../img/radio-btn-checked.png);

}
input[type=radio]:checked + label:before { letter-spacing: 5px; }

/*breadcrumb*/
.breadcrumb-wrapper{
    margin-top: 20px;
}

.breadcrumb-wrapper li{
    display: inline-block;
    float: left;
    margin-right: 30px;
    font-size: 14.88px;
    color: #707f8e;
    line-height: 24px;
}
.breadcrumb-wrapper li a{
    display: inline-block;
    position: relative;
    font-size: 14.88px;
    color: #707f8e;
    line-height: 24px;
}
.breadcrumb-wrapper li a:hover{
    opacity: 0.8;
}
.breadcrumb-wrapper li a:after{
    height: 11px;
    width: 1px;
    background: #707f8e;
    content:"";
    display: block;
    position: absolute;
    right:-15px;
    top:6px;
}
.breadcrumb-wrapper li:last-of-type a:after{
    display: none;
}
.home-breadcrumb{
    width: 24px;
    height: 19px;
    background: url(../img/breatcrumbs-home.png)center center no-repeat;
    display: inline-block;
}

.page-title{
    font-size: 20px;
    color:#616979;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    margin-bottom: 45px;
    position: relative;
    display: inline-block;
}
.page-title.margin{
    margin-top: 45px;
}
.page-title span{
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #616979;
    position: relative;
    top: -2px;
    margin-right: 10px;
}

.order-summary p{
    font-weight: 300;
    line-height: 25px;
    color: #444444;
}
.order-summary .section{
    margin-bottom: 30px;
}
.order-summary label{
    color: #444444;
    font-weight: 300;
}
.thank-you {
    padding-top: 80px;
    padding-bottom: 80px;
}
.thank-you p{
    color: #444444;
    line-height: 32px;
    font-size: 18px;
}
.bottom-separator{
    margin-top: 15px;
    border-bottom:1px solid #cad3dd;
    margin-bottom: 45px;
}
.page-title-inner{
    font-size: 20px;
    color: #616979;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    margin-bottom: 45px;
    position: relative;
    display: inline-block;
}

/*products*/
.page-title-stroke{
    font-size: 20px;
    color: #616979;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
}
.page-title-stroke span{
    height: 1px;
    background: #8e94a0;
    position: absolute;
    width: 100%;
    margin-top: 11px;
    margin-left: 22px;
}
.sidebar-wrapper{
    background: #ffffff;
    border:1px solid #cad3dd;
    padding-bottom: 45px;
}
.sidebar-wrapper .sidebar-menu{
    margin-bottom: 50px;
    margin-top: -10px;
}
.sidebar-wrapper .sidebar-menu p{
    padding-left: 20px;
    color:#333333;
    line-height: 40px;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
.sidebar-wrapper .sidebar-menu li.active p{
    background: #707f8e;
    color: #fff;
}
/*.sidebar-wrapper .sidebar-menu p.active {
    background: #e3370e;
    color: #fff;
}*/

.sidebar-wrapper .sidebar-menu a.singleBase {
    padding-left: 20px;
    color: #333333;
    line-height: 40px;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
.sidebar-wrapper .sidebar-menu p .img{
    display: inline-block;
    margin-top: -3px;
    margin-left: 10px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-image:url(../img/sidebar-menu-icon.png);
    background-repeat:no-repeat;
    background-position: center center;
    width:11px;
    height:7px;
}
.sidebar-wrapper .sidebar-menu p.collapsed .img{
    -ms-transform: rotate(0); /* IE 9 */
    -webkit-transform: rotate(0); /* Safari */
    transform: rotate(0);
}
.sidebar-wrapper .sidebar-menu p .img{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg);
}
.sidebar-wrapper .sidebar-menu p.active .img{
    /*background-image:url(../img/sidebar-menu-icon-w.png);*/
}
.sidebar-wrapper .sidebar-dropdown li a{
    line-height: 16px;
    color:#333333;
    display: block;
    padding: 12px 30px;
    -webkit-transition: background 0.4s;
    transition: background 0.4s;
}
.sidebar-wrapper .sidebar-dropdown li a.active,
.sidebar-wrapper .sidebar-dropdown li a:hover{
    background: #e3370e;
    color: #ffffff;
}
.sidebar-title{
    margin: 0 20px 30px;
    font-weight: 500;
    font-size: 20px;
    padding:20px 0 15px;
    border-bottom:1px solid #cad3dd;
    text-transform: uppercase;
    text-align: center;
    color: #616979;
}
.category-title{
    font-size: 17px;
    color: #616979;
    position: relative;
    overflow: hidden;
    margin: 0 20px 30px;
}

.category-title span{
    height: 1px;
    background: #cad3dd;
    position: absolute;
    width: 100%;
    margin-top: 11px;
    margin-left: 22px;
}
.sidebar-wrapper .panel-default{
    border:none;
    margin:0;
    -webkit-box-shadow: none;
    box-shadow:none;
}
.sidebar-wrapper .aditional-options{
    padding: 0 20px 0 55px;
    margin-bottom: 45px;
}
.sidebar-wrapper .aditional-options .form-group{
    margin-bottom: 20px;
}
.sidebar-wrapper .aditional-options label{
    text-align: center;
    line-height:30px;
    width: 140px;
    border:2px solid #e7442c;
    padding:0;
    text-transform: uppercase;
    color:#333333;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
.sidebar-wrapper .aditional-options label:hover,
.sidebar-wrapper .aditional-options input[type=checkbox]:checked + label {
    background: #e7442c;
    color:#fff;
}
.sidebar-wrapper .aditional-options label.blue{
    border-color:#1a6e9a;
}
.sidebar-wrapper .aditional-options input[type=checkbox]:checked + label.blue,
.sidebar-wrapper .aditional-options label.blue:hover{
    background:#1a6e9a;
    color:#fff;
}
.sidebar-wrapper .aditional-options input[type=checkbox] + label:before {
    left: -35px;
    top: 5px;
}
.sidebar-wrapper .slider-range-wrapper{
    padding:0 15px;
}
.sidebar-wrapper #slider-range{
    margin-bottom: 20px;
}
.sidebar-wrapper #slider-range.ui-slider-horizontal{
    height:8px
}
.sidebar-wrapper .ui-corner-all{
    border:0;
    border-radius:0;
}
.sidebar-wrapper .ui-widget-content{
    background: #b8c1c9;
}
.sidebar-wrapper .ui-widget-header{
    background: #e7e9eb;
}
.sidebar-wrapper .ui-state-default{
    background:#e3370e;
}
.sidebar-wrapper .ui-slider .ui-slider-handle{
    width:14px;
    height:14px;
    border-radius:none;
}
#amount{
    width: 100%;
    color: #333333;
    text-align: center;
    border:0;
}

.products-grid-wrapper{
    padding-top:25px
}
.products-grid-wrapper .single-product-grid{
    margin-bottom: 25px;
}
.paginitation{
    text-align: center;
    padding-top: 20px;
    margin-bottom: 50px;
}
.paginitation ul li,
.paginitation ul a{
    display: inline-block;
    color:#333333;
    border:none;
}
.paginitation ul li span,
.paginitation ul a{
    padding: 0 10px;
}
.paginitation ul a:hover{
    opacity: 0.6;
}
.paginitation ul li.active{
    color:#e3370e;
}
.paginitation ul li.navigation a{
    color:#e3370e;
}
.paginitation ul li.disabled{
    color:#788795;
}
/*product inner*/
.simular-products{
    margin: -15px 0;
    padding:15px;
}

/*.simular-products .swiper-container{
    margin:-20px;
}*/

.product-inner-page .page-title-stroke{
    margin-bottom: 25px;
}
.product-inner-page .product-tilte{
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 10px;
}
.product-inner-page .product-number{
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 35px;
    font-size: 15px;
}
.product-inner-page .product-desription{
    font-size: 15px;
    line-height: 25px;
    color:#333333;
    margin-bottom: 30px;
}
.product-inner-page .product-desription p{}
.product-inner-page .product-tehnical-tilte{
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color:#333333;
    margin-bottom: 20px;
}
.product-inner-page .product-tehnical-description{
    margin-bottom: 25px;
}
.product-inner-page .product-tehnical-description ul,
.product-inner-page .product-tehnical-description ol{

}
.product-inner-page .product-tehnical-description ul li,
.product-inner-page .product-tehnical-description ol li{
    line-height: 15px;
    padding: 10px 0 10px 15px;
    position: relative;
}
.product-inner-page .product-tehnical-description ul li:before,
.product-inner-page .product-tehnical-description ol li:before{
    width: 8px;
    height: 8px;
    background: #707f8e;
    content: '';
    display: block;
    position: absolute;
    top: 13px;
    left: 0;
}
.product-inner-page .product-status{
    margin-bottom: 30px;
}
.product-inner-page .product-status i{
    margin-right: 10px;
}
.product-inner-page .product-status .aviable{
    color:#09760b;
}
.product-inner-page .product-status .not-aviable{
    color:#e3370e;
}
.product-inner-page .price{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 35px;
}
.product-inner-page .price.overline{

    opacity:0.6;
    margin-bottom: 10px;
    font-size: 14px;
}
.product-inner-page .price.overline span{
    text-decoration: line-through;
    font-size: 22px;
}
.product-inner-page .price span{
    font-weight: bold;
    color: #e3370e;
    font-size: 28px;
}
.product-inner-page .submit{
    margin-bottom: 25px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    line-height: 43px;
    padding: 0 30px;
    background: #e3370e;
    border-radius: 0;
    border: none;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    display: inline-block;
    position: relative;
}
.product-inner-page .submit:hover{
    background: #ff3100
}
.product-inner-page .disabled{
    margin-bottom: 25px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    line-height: 43px;
    padding: 0 30px;
    background: #545454;
    border-radius: 0;
    border: none;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    display: inline-block;
    position: relative;
    cursor: not-allowed;
}

.product-inner-page .warranty{
    border-top:1px solid #cad3dd;
    padding:32px 0;
}
.product-inner-page .warranty p{
    color:#333333;
    margin-bottom: 20px;
}
.product-inner-page .product-files{
    padding: 0 0 32px 0;
}
.product-inner-page .product-files p{
    margin-bottom: 20px;
}
.product-inner-page .product-files a{
    color: #707f8e;
    line-height: 35px;
    padding: 5px 0;
    display: inline-block;
}
.product-inner-page .find-local{
    border-top:1px solid #cad3dd;
    border-bottom:1px solid #cad3dd;
    padding:32px 0;
    margin-bottom: 25px;
}
.product-inner-page .find-local a{
    color: #707f8e;
    line-height: 35px;
}
.product-inner-page .find-local a:hover{
    opacity:0.8
}
.product-inner-page .find-local a span{
    position: relative;
    margin-bottom: -12px;
}
.product-inner-page .share-product{
    margin-bottom: 42px;
}
.product-inner-page .share-product p{
    color:#333333;
    margin-bottom: 20px;
}
.product-inner-page .share-product ul{

}
.product-inner-page .share-product ul li{
    width:33%;
    float:left;
    display: inline-block;
    padding:0 8px;
}
.product-inner-page .share-product ul li:first-of-type{
    padding-left: 0;
}
.product-inner-page .share-product ul li:last-of-type{
    padding-right: 0;
}
.product-inner-page .share-product ul li a{
    display: block;
    height:43px;
    line-height: 43px;
    background: #707f8e;
    color:#fff;
    text-align: center;
}
.product-inner-page .share-product ul li a span{
    display: inline-block;
    vertical-align: top;
}
.product-inner-page .share-product ul li a:hover {
    background: #3f4450;
}
.product-inner-page .share-product .social-icons{
    background-image: url(../img/form-set.png);
    display: inline-block;
    background-repeat: no-repeat;
    height:43px;
    margin-right: 10px;
}
.product-inner-page .share-product .fb{
    background-position: -11px -69px;
    width:11px;
}
.product-inner-page .share-product .tw{
    background-position: -42px -69px;
    width: 23px;
}
.product-inner-page .share-product .gp{
    background-position: -81px -69px;
    width: 20px;
}
.product-slider-thumb{
    margin-bottom: 20px;
}
.product-slider div a,
.product-slider-thumb div{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
.product-slider{
    width:95%;
    margin:0 auto;
}
.product-slider div{
    height:350px;
}
.product-slider div a{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.product-slider-thumb .slick-slide{
    padding:0 20px;
    cursor: pointer;

}
.product-slider-thumb .slick-slide div{
    height:80px
}
.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:before, .slick-next:before {
    font-size: 20px;
    line-height: 1;
    opacity: 1;
    color: #83909d;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev::before {
    content: url(../img/slider-left-icon.png);
}
.slick-next {
    right: -10px;
}
.slick-next::before {
    content: url(../img/slider-right-icon.png);
}
.slick-prev {
    left: -10px;
}
.video-wrapper{
    background-color: rgb(0, 0, 0);

    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    position: fixed;
    z-index: -9;
    opacity: 0;
    -webkit-transition: all 1.5s;
    transition: all 1.5s;
}
.video-wrapper iframe{
    width:90%;
    margin:0 auto;
    display: block;
}
.video-wrapper .close-video{
    color: #fff;
    font-size: 35px;
    margin: 20px;
    position: absolute;
    cursor: pointer;
}
.video-wrapper .close-video:hover{
    color:#e3370e;
}
.video-wrapper.show-video{
    display: block;
    z-index: 1000;
    opacity: 1;
}
.additional-alert{
    display: none;
}
.alert-bg{
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
}
.alert-bg .alert-wrapper{
    max-width: 360px;
    width:100%;
    background: #fff;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
    top: 20%;
    position: relative;
    border-radius: 5px;
}
.alert-bg .alert-wrapper .submit{
    margin-top: 25px;
    display: inline-block;
    margin-bottom: 0;
    color:#fff;
    font-size: 20px;
    font-weight: bold;
    line-height:43px;
    padding: 0 50px;
    background: #e3370e;
    border-radius:0;
    border:none;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
}
.alert-bg .alert-wrapper .custom-submit,
.alert-bg .alert-wrapper .cancel{
    margin-top: 25px;
    display: inline-block;
    margin-bottom: 0;
    color:#fff;
    font-size: 14px;
    font-weight: bold;
    line-height:43px;
    padding: 0 50px;
    background: #e3370e;
    border-radius:0;
    border:none;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
}
 
/*card*/
.card-product-list-wrapper{
    padding-left: 30px;
    padding-right: 30px;
}
.card-product-list{
    width:100%;
    border:1px solid #616979;
}
.card-product-list th{
    font-size: 16px;
    font-weight: 500;
    height: 45px;
}
.card-product-list th:nth-of-type(1),
.card-product-list td:nth-of-type(1){
    width:10%
}
.card-product-list th:nth-of-type(2),
.card-product-list td:nth-of-type(2){
    text-align: left;
    width:27%
}
.card-product-list td{
    height:134px;
}
.card-product-list th,
.card-product-list td{
    border-bottom:1px solid #616979;
    text-align: center;
}
.card-product-list th:nth-of-type(1),
.card-product-list td:nth-of-type(1){
    text-align: left;
    padding-left: 20px;
}
.card-product-list td .product-image{
    display: inline-block;
    vertical-align: middle;
    width:100%;
    height:85px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.card-product-list td .title{
    margin-left: 25px;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    max-width: 230px;
}
.number-input-wrapper{
    width: 75px;
    position: relative;
    margin:0 auto;
}
.number-input-wrapper input{
    border:1px solid #616979;
    line-height: 41px;
    border-radius:0;
}
.number-input-wrapper .btn-up{
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 9px solid #616979;
    position: absolute;
    top: 5px;
    right: 6px;
    cursor: pointer;
    display: block;
}
.number-input-wrapper .btn-down{
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 9px solid #616979;
    position: absolute;
    top: 20px;
    right: 6px;
    cursor: pointer;
}
.card-product-list .delete{
    color:#616979;
    padding:0 10px
}

.card-product-list .delete:hover{
    color:#e3370e;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
}
.submit-small{
    color: #fff;
    font-weight: bold;
    line-height: 42px;
    padding: 0 10px;
    background: #e3370e;
    border-radius: 0;
    border: none;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    display: inline-block;
    position: relative;
}
.submit-small:hover{
    background: #ff3100;
}
.bg-border .total{
    margin: 30px 0;
    font-weight: bold;
    font-size: 18px;
    color:#333333;
}
.bg-border .total span{
    font-weight: normal!important;
    font-size: 16px;
}
.card-product-list-wrapper .form-control:focus{
    margin: 30px 0;
    font-weight: bold;
    font-size: 18px;
    color:#616979;
}
.card-product-list-wrapper .submit{
    color:#fff;
    font-size: 20px;
    font-weight: bold;
    line-height:43px;
    padding: 0 30px;
    background: #e3370e;
    border-radius:0;
    border:none;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    /*margin-bottom: 15px;*/
    margin-bottom: 0;
    display: inline-block;
    position: relative;
}
.card-product-list-wrapper{
    margin-bottom:45px;
}
.card-product-list-wrapper .submit:hover{
    background: #ff3100;
}
.card-product-list-wrapper .submit.left{
    float: left;
}
.card-product-list-wrapper .submit.right{
    float: right;
}
.card-product-list-wrapper .submit img{
    position: absolute;
    top:0;
    bottom:0;
    margin:auto;
}
.card-product-list-wrapper .submit.left img{
    margin-left:-20px;
}
.card-product-list-wrapper .submit.right img{
    margin-left:10px;
}
/*tabs page*/
#vmap {
    padding-top: 35px;
    width:650px;
    margin:0 auto;
    height:400px;
}
#vmap .jqvmap-zoomin, #vmap .jqvmap-zoomout{
    display: none;
}
.tabs-page .main-image{
    margin-bottom: 30px;
    width:100%;
}
.tabs-page .sidebar-wrapper .sidebar-title{
    font-size: 18px;
}
.tabs-page .sidebar-wrapper {
    padding-bottom: 30px;
}
.tabs-page .sidebar-wrapper .sidebar-menu {
    margin-bottom: 0;
}
.tabs-page .sidebar-wrapper .sidebar-menu p{
    padding: 7px 0 7px 40px;
    line-height: 26px;
}
.tabs-page .sidebar-wrapper .sidebar-menu p:hover{
    background: #707f8e;
    color: #fff;
}
.tabs-page .tab-content{
    padding:30px
}
.tabs-page .tab-content h1,
.tabs-page .tab-content h2,
.tabs-page .tab-content h3,
.tabs-page .tab-content h4,
.tabs-page .tab-content h5 {
    font-size: 28px;
    color: #444444;
    font-weight:bold;
    margin-bottom: 35px;
}
.tabs-page .tab-content .text-content{
    font-weight: 300;
    color:#333333;
    font-size: 14px;
    line-height:24px;
}
.tabs-page .tab-content ul,
.tabs-page .tab-content ol {
    margin:20px 0;
    padding: 0;
}
.tabs-page .tab-content ol li,
.tabs-page .tab-content ul li{
    font-weight: 300;
    line-height: 24px;
    position: relative;
    padding-left: 20px;
    padding-bottom: 7px;
}
.tabs-page .tab-content ol li a,
.tabs-page .tab-content ul li a{
    font-size: 16px;
    line-height: 24px;
    color:#707f8e;
    font-weight: 500;
}
.tabs-page .tab-content ol li:before,
.tabs-page .tab-content ul li:before{
    width: 8px;
    height: 8px;
    background: #707f8e;
    content: '';
    display: block;
    position: absolute;
    top: 8px;
    left: 0;
}

.tabs-page .tab-content .text-content img{
    width:100%;
}

/*power-xchange*/
.power-xchange-page {
    padding-bottom: 30px;
}
.power-xchange-page .bg-border{
    margin-bottom: 35px;
}
.power-xchange .product-desc{
    font-size: 23px;
    line-height: 32px;
    font-weight: 300;
}
.power-xchange-page .custom-colum-wrapper{
    margin-bottom: 50px;
}
.power-xchange-page .custom-colum{
    text-align: center;
    width:20%;
    padding:0 10px;
    float: left;
    margin-bottom: 20px;
}
.power-xchange-page .custom-colum .img{
    width: 165px;
    height: 118px;
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    margin:0 auto;
}
.power-xchange-page .custom-colum .inner{
    display: block;
    padding: 30px 20px;
    border: 1px solid #707f8e;
    height: 240px;
    position: relative;
}

.power-xchange-page .custom-colum .title{
    font-weight: 500;
    font-size: 16px;
    /* font-size: 1vw; */
    word-break: break-word;
    text-transform: uppercase;
    color: #616979;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    padding: 0 6px;
}

.power-xchange-page .text-wrapper ul li {
    list-style: inside;
}

.advantages h5{
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    color:#616979;
    margin-bottom: 20px;
}
.advantages .text-wrapper{
    font-size: 15px;
    line-height: 25px;
    color: #616979;
    margin-bottom: 75px;

}
.advantages .icon{
    display: block;
    width:113px;
    height:83px;
    background-image:url(../img/power-xchange-icons.png);
    background-repeat:no-repeat;
    margin:0 auto 30px;
}
.advantages .icon-1{
    background-position:0 0;
}
.advantages .icon-2{
    background-position:-113px 0;
}
.advantages .icon-3{
    background-position:-226px 0;
}
.power-xchange-main-description .main-image{
    float: left;
    max-width:50%;
    margin-right:30px;
    margin-bottom: 25px;
    display: block;
}
.power-xchange-main-description .text-wrapper{
    font-weight: 300;
    color:#333333;
    line-height: 24px;
    font-size: 14px;
}

/*contact us*/
.contact-page .icon{
    width: 45px;
    height: 43px;
    background: #aeb6be;
    float: left;
    margin-right:10px;
    background-image: url(../img/form-set.png);
    background-repeat: no-repeat;
}
.contact-page .icon.contact-adress{
    background-position: -189px 3px;
}
.contact-page .icon.contact-user {
    background-position: -142px 3px;
}
.contact-page .icon.contact-phone{
    background-position: -96px 3px;
}
.contact-page .icon.contact-mail{
    background-position: 0 4px;
}
.contact-page .sigle-row{
    margin-bottom: 70px;
}
.contact-page .single-contact{
    margin-bottom: 21px
}
.contact-page .mail .text-wrapper{
    line-height: 43px;
}
.contact-page .credential-page input.form-control,
.contact-page .credential-page textarea.form-control{
    border-left: 1px solid #616979;
}

.contact-page .text-wrapper{
    font-size: 15px;
    line-height: 22px;
    color:#3f4450;
    min-height: 43px;
}

.contact-page textarea{
    height: 165px;
}
#map_canvas_contacts{
    /*margin-top: -45px;*/
    margin-top: 45px;
    height: 475px;
    /*margin-bottom: 45px;*/
    margin-bottom:30px;
}
/*partners-page*/
#find-nearest{
    text-align: center;
    color: #fff;
    width: 100%;
    padding: 15px 0;
    font-size: 14px;
    background: #707f8e;
    cursor: pointer;
}
#search{
    height: 43px;
    width: 58px;
    background: #e3370e;
    text-align: center;
    padding-top: 10px;
    float: right;
    cursor: pointer;
}
.partners-page .separator{
    height:1px;
     background:#cad3dd;
     margin-bottom: 60px;
}

.partners-page .dealers .page-title{
    margin-bottom: 25px;
}
.partners-page .dealers p{
    margin-bottom: 60px;
    line-height: 28px;
    font-size: 18px;
    font-weight: 300;
    color:#3f4450;
}
.other-contacts{
    padding-top: 45px;
}
.other-contacts  ul.others {
    margin-bottom: 25px;
}
.other-contacts  ul.others li {
    font-size: 15px;
    line-height: 25px;
    color: #1e2124;
}
.other-contacts  ul.others li.upper{
    text-transform: uppercase;
}
.legent-wrapper{
    border:1px solid #c7cbd1;
    background: #f8f9fb;
    text-align: center;
}
.legent-wrapper{
    width: 100%;
    display: block;
    padding-left: ;
}
.legent-wrapper li{
    display: inline-block;
    line-height: 48px;
}

.legent-wrapper li span{
    background-image: url(../img/form-set.png);
    background-repeat: no-repeat;
    height: 48px;
    width: 39px;
    display: inline-block;
    float: left;
}

.legent-wrapper li span.legend{
    background-position: 7px -103px;
}
.legent-wrapper li span.shop{
    background-position: -32px -103px;
}
.legent-wrapper li span.dilar{
    background-position: -70px -103px;
}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default{
    background: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.partners-page .bootstrap-select .dropdown-toggle:focus, .partners-page .bootstrap-select .dropdown-toggle:hover{
    background: #fff;
}
.bootstrap-select > .dropdown-toggle.bs-placeholder{
    color: #333;
}
/*footer*/

footer{
    padding-top: 60px;
    background: #3f4450;
    padding-bottom: 35px;

}
footer .footer-navigation h5{
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 18px;
    color:#ffffff;
    text-transform: uppercase;
}
footer .footer-navigation li a{
    font-weight: 300;
    line-height: 36px;
    color:#ffffff;
}
footer .footer-navigation li a.active{
    text-decoration: underline;
}
footer .footer-navigation li a:hover{
    color:#a9a9a9;
}
footer .footer-navigation p{
    margin-bottom: 25px;
    font-weight: 300;
    font-size: 14px;
    line-height:25px;
    color:#ffffff;
}

.copyright{
    background: #3f4450;
    border-top:1px solid #c4c4c6;
    padding:20px 24px;
}
.copyright p,
.copyright a
{
    font-weight: 300;
    font-size: 14px;
    color: #ffffff!important;
}
.copyright p{
    float: left;
}
.copyright a.oc-link{
    float: right;
}

.copyright a:hover{
    color:#a9a9a9!important;
}
.copyright .social-navigation li{
    padding: 0 4px;
}

.copyright .social-navigation li,
.copyright .social-navigation li a{
    display: inline-block;
}
.copyright .social-navigation li a:hover{
    opacity:0.5;
}
@media screen and (max-width: 1200px)  {

    .home-header-wrapper{
        padding-top: 145px;
    }
    .navbar-nav>li>a{
        font-size: 14px;
        padding: 10px 20px;
    }
    .navbar-default .navbar-brand{
        width: 200px;
    }
    .login-wrapper {
        margin-top: 0px;
    }
    .search-form {
        top: 30px;
    }
    .search-form .form-inline .input-group>.form-control {
        line-height: 35px;
        height: 35px;
    }
    .search-form li .input-group-addon{
        padding: 5px 8px
    }

    .search-form .card .icon-wrapper.white,
    .search-form .card .icon-wrapper,
    .search-form .total,
    .search-form .form-inline .input-group>.form-control{
        line-height: 35px;
        height:35px;
    }
    .search-form .form-inline .input-group>.form-control{
        width: 220px!important;
    }
    .header-slider-wrapper .product-summary{
        font-size: 35.95px;
        line-height: 46.31px;
    }

    .home-categories h3 {
        font-size: 16px;
        line-height: 24px;
    }
    .home-promotional-products .swiper-wrapper h3 {
        font-size: 18px;
        line-height: 25px;
    }

}
@media screen and (max-width: 1024px) {
    .power-xchange-page .custom-colum .img {
        width: 120px;
        height: 85px;
    }
    .power-xchange-page .custom-colum .title{
        font-size: 14px;
    }
}
@media screen and (min-width: 991px) {
    ul.nav li.dropdown:hover ul.dropdown-menu{
        display: block;
    }
}

@media screen and (max-width: 991px) {
    #search{
        margin-bottom: 20px;
        width: 100%;
    }
    .legent-wrapper{
        margin-bottom: 20px;
    }
    #map_canvas_contacts{
        height: 350px;
    }
    header{
        background: #373b48;
    }
    .power-xchange-page .custom-colum{
        width: 100%;
    }
    .power-xchange-page .custom-colum .title{
        font-size: 20px;
    }
    .power-xchange-page .custom-colum .img {
        width: 165px;
        height: 118px;
    }
    #vmap{
        width: 500px;
        height:300px
    }

    .card-product-list th{
        display: none;
    }
    .card-product-list td{
        display: block;
        height: auto;
    }
    .card-product-list td>div{
        display: inline-block;
        padding:5px 5px 5px 0 ;
        width:50%;
        float:right;
    }

    .card-product-list td:before{
        padding:5px 10px;
        content: attr(data-th);
        width:50%;
        display: block;
        float: left;
        text-align: right;
        font-size: 16px;
        font-weight:bold;
    }
    .card-product-list td:after{
        content:'';
        display: block;
        clear:both;
    }
    .card-product-list th{
        display: none!important;
    }

    .card-product-list tr:nth-of-type(2) td:nth-of-type(1){
        border-top:1px solid #616979;
    }
    .card-product-list tr td:nth-of-type(1){
        border-bottom:0;
    }
    .card-product-list td:nth-of-type(1),
    .card-product-list td:nth-of-type(2),
    .card-product-list td{
        width: 100%;
        display: block;
        text-align: left;
        padding-left: 0;
    }
    .card-product-list td:last-of-type:before{
        display: none;
    }
    .card-product-list td:last-of-type div{
        width:100%;
        text-align: center;
    }

    .card-product-list td div strong{
        font-weight: normal;
    }
    .card-product-list td .title{
        max-width: inherit;
        margin-left: 0;
        word-wrap: break-word;
        font-size: 12px;
    }
    .card-product-list td .product-image{
        width: 105px;
    }
    .card-product-list .number-input-wrapper{
        margin:0;
    }

    .card-product-list-wrapper .submit{
        float: none!important;
        width: 100%;
        text-align: center;
        font-size: 15px;
        margin-bottom: 20px;
    }
    .sidebar-wrapper{
        margin-bottom: 50px;
    }
    /*menu fix*/
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    /*ul.nav li.dropdown:hover ul.dropdown-menu{
        display: none;
    }*/
    .navbar-nav li:hover .dropdown-menu{
        background: #fff
    }

    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /*.open>.dropdown-menu{
        display: none;
    }*/
    .collapse.in{
        display:block !important;
    }

    /*end menu fix*/

    /*menu mobile*/
    .navbar-nav>li>a{
        text-align: center;
    }
    .dropdown-menu{
        top: inherit;
    }
    .navbar-nav>li>.dropdown-menu{
        display: none;
    }
    .navbar-nav>li.open>.dropdown-menu{
        display: block;
    }
    .mega-dropdown-menu .dropdown-cat{
        height: 60px;
        width: 60px;
    }
    .mega-dropdown-menu p{
        font-weight: bold;
        font-size: 14px;
    }
    .mega-dropdown-menu {
        padding: 25px 15px 25px;
    }
    /*end menu mobile*/
    .login-wrapper,
    .search-form{
        position:inherit;
        width:100%;
        text-align: right;
    }

    .navbar-header,
    .login-wrapper li,
    .search-form>li{
        float: none;
    }
    .search-form{
        top:inherit;
    }
    .search-form>li:last-of-type{
        display: none;
    }
    .search-form .form-group{
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .search-form .form-group .input-group{
        display: inline-table;
        vertical-align: middle;
    }
    .search-form .form-group .input-group .input-group-addon{
        width: auto;
    }
    .home-header-wrapper {
        padding-top: 160px;
    }
    .header-slider-wrapper .product-summary {
        font-size: 25px;
        line-height: 30px;
    }
    .header-slider-wrapper .product-title {
        font-size: 20px;
        line-height: 35px;
    }
    .header-slider-wrapper .product-price {
        margin: 15px 0;
        padding: 0 35px;
        font-size: 16px;
        line-height: 42px;
    }
    .header-slider-wrapper .additional {
        font-size: 16px;
    }
    .header-slider-wrapper {
        height: 350px;
    }

    .home-promotional-products .swiper-wrapper h3,
    .home-promotional-products .swiper-wrapper h5{
        text-align: center;
    }
    .bg-border{
        padding-left:20px;
        padding-right:20px;
    }

    .credential-page #login-form{
        margin-bottom: 50px;
    }
    .credential-page .submit{
        width:100%;
        text-align: center;
    }
    .credential-page .colum-separator{
        margin-bottom: 50px;
    }
    footer, .copyright{
        text-align: center;
    }
    footer .footer-navigation h5{
        margin-bottom: 15px;
    }
    footer .footer-navigation ul{
        margin-bottom: 35px;
    }
    .copyright .social-navigation{
        margin:20px 0;
    }
    .home-header-wrapper
    .no-padding, .no-padding-left{
        padding-left: 15px;
        padding-right: 15px;
    }
    .copyright p,
    .copyright a.oc-link{
        float: none;
    }
}

@media screen and (min-width: 768px) {

    .home-header-slider .swiper-slide .row{
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
}
@media screen and (max-width: 767px) {
    .header-slider-wrapper {
        height: auto;
        text-align: center;
        padding: 35px 0;
    }
    .header-slider-wrapper .product-pic {
        width: 300px;
        margin: 30px auto;
    }
}
@media screen and (max-width: 550px) {
    #map_canvas_contacts{
        height: 200px;
    }
    .navbar-header{
        margin-bottom: 10px;
    }
    .power-xchange-page .custom-colum .title{
        font-size: 16px;
    }
    #vmap {
        width: 400px;
        height: 300px;
    }
    .login-wrapper li a {
        font-size: 12px;
    }
    .menu-background {
        padding-top: 5px;
    }
    .login-wrapper{
        margin-bottom: 15px;
    }
    .home-categories .col-xs-3{
        width: 50%;
    }

    .mega-dropdown-menu li{
        width: 50%;
    }
    .power-xchange-main-description .main-image{
        max-width: 100%;
        margin-left: 0;
    }
}
@media screen and (max-width: 420px) {

    #vmap {
        width:250px;
        height: 200px;
    }
    .login-wrapper li {
        margin-right: 25px;
    }
    .login-wrapper li a {
        font-size: 8px;
    }
    .login-wrapper li:before {
        width: 5px;
        height: 5px;
        margin-left: -11px;
        margin-top: 8px;
    }
    .search-form .form-inline .input-group>.form-control {
        width: 153px!important;
        line-height: 30px;
        height: 30px;
    }
    .search-form li .input-group-addon img{
        width: 22px;
    }
    .header-slider-wrapper .product-summary {
        font-size: 20px;
        line-height: 30px;
        padding: 0 10px;
    }
    .header-slider-wrapper .product-title {
        font-size: 15px;
    }
    .header-slider-wrapper .additional {
        font-size: 14px;
    }
    .home-header-wrapper {
        padding-top: 155px;
    }
    .home-categories h3 {
        font-size: 14px;
        line-height: 20px;
    }


}

@media screen and (max-width: 420px) {
    .header-slider-wrapper .product-pic {
    width: 200px;
    }
    .home-categories{
        padding-top: 20px;
    }
    .home-categories .caregory-wrapper{
        margin-bottom: 0;
    }
    .submit-small{

    }
}

@media screen and (max-width: 360px) {
    #vmap {
        width:200px;
        height: 200px;
    }

}

.cc-window.cc-banner {
    padding: 0.4em 1.8em !important;
}

.cc-link {
    display: none !important;
}